*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    .container{
        width: 1110px;
        margin: 0 auto;
        .header__nav{
            display: flex;
            .logoimg{
                margin-right: 20px;
                margin-top: 20px;
            }
            .logoname{
                margin-bottom: auto;
                margin-top: 41px;
                font-family: 'Roboto';
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 42px;
                letter-spacing: 0.1em;
                text-align: left;
            }
            .header__search{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap-reverse;
                position: relative;
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                width: 250px;
                height: 40px;
                background: #EFEFEF;
                border-radius: 40px;
                .searchimg{
                    margin-top: 10.45px;
                    margin-left: 20px;
                    margin-right: 10px;
                }
                .searchinp{
                    background-color: transparent;
                    outline: 0;
                    border: 0;                   
                    height: 40px;
                    padding-left: 20px;
                }
            }
            .header__phone{
                margin-top: 50px;
            }
            .header__phone:active, .header__phone:hover, .header__phone{
                text-decoration: none;
                color: #666;
                font-family: 'Roboto';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
            }
            .header__back{  
                text-transform: uppercase;
                vertical-align: middle;
                border: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                border-radius: 5px;
                margin-left: 40px;
                margin-top: 40px;
                width: 170px;
                height: 40px;
                background: #FFFFFF;
                border: 2px solid #F13C6E;
                box-sizing: border-box;
                border-radius: 40px
            }
            .header__back:hover {
                background-color: #F13C6E;
                color: #fff;
                transition: all 1s;
            }
              
            .header__back:focus {
                outline: none;
            }
        }
        .header__menu{
            display: flex;
            list-style-type: none;
            height: 80px;
            .page{
                margin: 30px auto;
                font-family: 'Roboto';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
            }
            .page:hover{
                border-bottom: 2px solid #F13C6E;
                transition: all 0.5s;
            }
        }
    }
    .header__content{
        position: relative;
        background-color: #000;
        background-image: url(../img/headerbg.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 604px;
        .content__slider-one{
            position: absolute;
            top: 192px;
            width: 308px;
            height: 219px;
            .slider-title{
                font-family: 'Roboto';
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 56px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFFFFF;
            }
            .slider-text{
                font-family: 'Roboto';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFFFFF;
            }
            .slider-btn{
                    text-transform: uppercase;
                    vertical-align: middle;
                    border: none;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    border-radius: 5px;
                    margin-top: 50px;
                    width: 170px;
                    height: 40px;
                    background: #F13C6E;
                    box-sizing: border-box;
                    border-radius: 40px;
                    border: 2px solid #FFFFFF;
                    color: #FFFFFF;
                }
                .slider-btn:hover {
                    background-color: #fff;
                    color: #F13C6E;
                    transition: all 1s;
                }
                  
                .slider-btn:focus {
                    outline: none;
                }
        }
    }
}

.content{
    display: block;
    background: #EFEFEF;
    height: 1870px;
    .container{
        width: 1110px;
        margin: 0 auto;
        .content__offer{
            .content__title{
                margin-top: 0;
                padding-top: 80px;
                font-family: 'Roboto';
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
            }
            .content__tape{
                display: flex;
                padding: 0;
                margin: 0 auto;
                margin-top: 38px;
                .product-item{
                    float: left;
                    width: 255px;
                    height: 363px;
                    background: #FFFFFF;
                    list-style-type: none;
                    text-align: center;
                    margin-right: 30px;
                    .img{
                        margin-top: 25px;
                    }
                    .desc{
                        display: block;
                        height: 33px;
                        width: 195px;
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        margin: 20px auto;
                    }
                    .price{
                        font-family: 'Roboto';
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0.05em;
                        display: block;
                        margin-bottom: 12px;                       
                    }
                    .buy{
                        text-decoration: none;
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 28px;
                        width: 130px;
                        height: 35px;
                        transition: .3s ease-in;
                        border: 2px solid #F13C6E;
                        background: #F13C6E;
                        border-radius: 30px;
                    }
                    .buy:hover {
                        border: 2px solid #F13C6E;
                        background-color: #fff;
                        color: #F13C6E;
                        transition: all 1s;
                    }
                      
                    .buy:focus {
                        outline: none;
                    }
                }
                .product-item:last-child{
                    margin-right: 0px
                }
            } 
        }
        .content__cart{
            display: flex;
            margin: 0 auto;
            margin-top: 100px;
            .cart__bonus{
                display: flex;
                width: 540px;
                height: 212px;
                background: #F13C6E;
                margin-right: 30px;
                .bonus__wrapper{
                    margin-right: 65px;
                    h3{
                        margin: 0;
                        padding-top: 35px;
                        padding-left: 40px;
                        font-family: 'Roboto';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 21px;
                        letter-spacing: 0em;
                        color: #FFFFFF;
                    }
                    .bonus__text{
                        display: block;
                        height: 35px;
                        width: 231px;
                        margin-top: 25px;
                        margin-left: 40px;
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #fff;
                    }
                    .inp{
                        padding-left: 25px;
                        margin-left: 40px;
                        margin-top: 25px;
                        background-color: transparent;
                        outline: 0;
                        border: 0; 
                        width: 225px;
                        height: 35px;
                        background: #FFFFFF;
                        border-radius: 30px;
                    }

                }
                .img{
                    display: block;
                    text-align: right;
                    margin-right: 45px;
                }
            }
            .cart__toUs{
                display: flex;
                width: 540px;
                height: 212px;
                background: #F13C6E;
                .toUs__wrapper{
                    margin-right: 36px;
                    h3{
                        width: 190px;
                        margin: 0;
                        padding-top: 35px;
                        padding-left: 40px;
                        font-family: 'Roboto';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 21px;
                        letter-spacing: 0em;
                        color: #FFFFFF;
                    }
                    .toUs__text{
                        display: block;
                        height: 35px;
                        width: 231px;
                        margin-top: 25px;
                        margin-left: 40px;
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #fff;
                    }
                    .toUs__map{
                        margin-left: 40px;
                        margin-top: 25px;
                        width: 170px;
                        height: 35px;
                        background: #F13C6E;
                        border: 2px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 30px;
                        color: #fff;
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                    .toUs__map:hover {
                        border: 2px solid #fff;
                        background-color: #fff;
                        color: #F13C6E;
                        transition: all 1s;
                    }
                      
                    .toUs__map:focus {
                        outline: none;
                    }
                }
                .img{
                    display: block;
                    text-align: right;
                }
            }
        }
        .content__table{
            padding-top: 100px;
            table{
                background: #EFEFEF; /* Цвет фона таблицы */
                color: white; /* Цвет текста */
                tr{
                    td{
                        width: 278px;
                        height: 119px;
                        background: #fff;
                        text-align: center;
                    }
                }
            }
        }
        .content__history{
            h2{
                margin: 0;
                margin-top: 80px;
                font-family: 'Roboto';
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
            }
            .content__tape{
                display: flex;
                padding: 0;
                margin: 0 auto;
                margin-top: 38px;
                .product-item{
                    float: left;
                    width: 255px;
                    height: 363px;
                    background: #FFFFFF;
                    list-style-type: none;
                    text-align: center;
                    margin-right: 30px;
                    .img{
                        margin-top: 25px;
                    }
                    .desc{
                        display: block;
                        height: 33px;
                        width: 195px;
                        font-family: 'Roboto';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        margin: 20px auto;
                    }
                    .price{
                        font-family: 'Roboto';
                        font-size: 21px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0.05em;
                        display: block;
                        margin-bottom: 12px;                       
                    }
                    .buy{
                        text-decoration: none;
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 28px;
                        width: 130px;
                        height: 35px;
                        transition: .3s ease-in;
                        border: 2px solid #F13C6E;
                        background: #F13C6E;
                        border-radius: 30px;
                    }
                    .buy:hover {
                        border: 2px solid #F13C6E;
                        background-color: #fff;
                        color: #F13C6E;
                        transition: all 1s;
                    }
                      
                    .buy:focus {
                        outline: none;
                    }
                }
                .product-item:last-child{
                    margin-right: 0px
                }
            }
        }
    }
}
footer{
    .container{
        margin: 0 auto;
        width: 1110px;
        .footer__wrapper{
            display: flex;
            height: 373px;
            margin: 0 auto;
            .category{
                float: left;
                margin-right: 30px;
                h3{
                    margin: 0;
                    padding-top: 60px;
                    padding-bottom: 30px;
                    width: 255px;
                    font-family: 'Roboto';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-align: left;
                    border-bottom: 1px solid #EFEFEF;
                }
                .nav{
                    margin: auto 0;
                    padding: 0;
                    height: 158px;
                    width: 82px;
                    .category__item{
                        margin-top: 5px;
                        list-style-type: none;
                        font-family: 'Roboto';
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #828282;
                    }
                }
            }
            .category:last-child{
                margin-right: 0;
            }
        }
    }
    .footer__toUs{
        height: 120px;
        width: 100%;
        border-top: 1px solid #EFEFEF;
        .container{
            width: 1110px;
            .footer__toUs_wrapper{
                display: flex;
                margin: 0 auto;
                .toUs__link{
                    margin-top: 52px;
                    img{
                        margin: 0;
                        margin-right: 20px;
                    }
                }
                .toUs__address{
                    margin: 0 auto;
                    margin-top: 52px;
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                .toUs__phone:active, .toUs__phone:hover, .toUs__phone{
                    margin-top: 50px;
                    text-decoration: none;
                    color: #000;
                    font-family: 'Roboto';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                .toUs__back{  
                    text-transform: uppercase;
                    vertical-align: middle;
                    border: none;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    border-radius: 5px;
                    margin-left: 40px;
                    margin-top: 40px;
                    width: 170px;
                    height: 40px;
                    background: #FFFFFF;
                    border: 2px solid #F13C6E;
                    box-sizing: border-box;
                    border-radius: 40px
                }
                .toUs__back:hover {
                    background-color: #F13C6E;
                    color: #fff;
                    transition: all 1s;
                }
                  
                .toUs__back:focus {
                    outline: none;
                }
            }
        }
    }
    .footer__policy{
        height: 64px;
        background: #EFEFEF;
        .container{
            display: flex;
            margin: 0 auto;
            width: 1110px;
            .name{
                padding-top: 25px;
                font-family: 'Roboto';
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0em;
                text-align: left;
            }
            .policy{
                margin-top: 25px;
                margin-left: auto;
                margin-right: 0;
                font-family: 'Roboto';
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0em;
                text-align: right;
            }
        }
    }
}